html{
    font-family: 'Dongle', sans-serif;

    font-family: 'Luxurious Roman', cursive;
}
body{
    margin: 0;
    background-color: #efefef;
}
h1{
    color: #0CB7F2;
    background-color: gray;
    padding: 50px 0px;
    text-align: center;
    border: solid black 1px;
    /* margin: 0 auto; */
}
.section{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color:blanchedalmond;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(0,0,0,0.3);
}
section article h2, section article p{
    margin: 1rem;
}

footer{
    background-color: #222;
    padding: 3rem;
    color: seashell;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;s
    color: seashell;

}

footer a:hover{
    color: blue;

}
