
body{
    margin: 0;
    background-color: #efefef;
}
h4 form{
    padding: 10px;
    /* margin: 0 auto; */
}


section article{
    transition: box-shadow 0.3s ease;
    background-color:blanchedalmond;
    margin: auto 0;
    border-radius: 0.5rem;
    padding: 0.10rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(0,0,0,0.3);
}
section article , section article p{
    margin: 0.4rem;
    width: 700px;


}
.section{
    margin: auto 0;
}


